.clientes{
    & ul{

    margin-top: 60px;
    margin-bottom: 59px;
    gap: 30px;
    flex-wrap: wrap;
    cursor: pointer;
    }
    & .container-svg{
        border: 1px #AFB1B8 solid;
        border-radius: 4px;
        width: 170px; 
        height: 81px; 
    }
} 